apiVersion: scaffolder.backstage.io/v1beta3
kind: Template
metadata:
  name: terraform-rds-template-github
  title: RDS Template
  description: RDS Template using Terraform and Github Actions
  annotations:
    backstage.io/techdocs-ref: dir:.
  tags:
    - platform-templates
    - rds
    - terraform
spec:
  owner: veecode/platform
  type: devops
  parameters:
    - title: RDS Configuration
      required:
        - instance_name
        - database_name
        - instance_type
        - vault_address
        - owner
      properties:
        instance_name:
          title: RDS Instance Name
          type: string
          pattern: '^[a-z0-9.]*$'
          ui:help: 'This field cannot contain special characters, "-" or "_"'
          description: Specifies the RDS Instance Name
        vault_address:
          title: Select vault endpoint
          type: string
          description: Specifies the RDS Instance Name
          default: https://vault.apr.vee.codes/
          enum:
            - https://vault.apr.vee.codes/
        owner:
          title: Owner
          type: string
          description: Owner of the component
          ui:field: OwnerPicker
          ui:options:
            allowedKinds:
              - Group
        instance_type:
          title: RDS Instance Type
          type: string
          description: Specifies the RDS instance type
          default: db.t3.micro
          enum:
            - db.t3.micro
            - db.m5.large
            - db.m5.xlarge
            - db.t4g.micro
            - db.m6g.large
            - db.m6g.xlarge
          enumNames:
            - "db.t3.micro (vCPU:2, Mem: 1Gib)"
            - "db.m5.large (vCPU:2, Mem: 8Gib)"
            - "db.m5.xlarge (vCPU:4, Mem: 16Gib)"
            - "db.t4g.micro (vCPU:2, Mem: 1Gib) ARM"
            - "db.m6g.large (vCPU:2, Mem: 8Gib) ARM"
            - "db.m6g.xlarge (vCPU:4, Mem: 16Gib) ARM"
        database_name:
          title: Database Name
          type: string
          pattern: '^[a-z0-9.]*$'
          ui:help: 'This field cannot contain special characters, "-" or "_"'
          description: Specifies the Database Name

    - title: Terraform Configuration
      required:
        - terraformStateBucketName
        - terraformStateBucketRegion
      properties:
        terraformStateBucketName:
          title: Terraform State Bucket Name
          type: string
          description: Specifies your Terraform State Bucket

        terraformStateBucketRegion:
          title: Bucket Region
          type: string
          description: Specifies the Terraform State Bucket region
          default: 'us-east-1'
          enum:
            - 'us-east-2'
            - 'us-east-1'
            - 'us-west-1'
            - 'us-west-2'
          enumNames:
            - 'US East (Ohio)'
            - 'US East (N. Virginia)'
            - 'US West (N. California)'
            - 'US West (Oregon)'
          
        infracost:
          title: Enable Infracost Estimate
          type: boolean
          default: false

    - title: Choose a location
      required:
        - repoUrl
      properties:
        repoUrl:
          title: Repository Location
          type: string
          description: Choose a location to create the RDS Pipeline
          ui:field: RepoUrlPlatform
          ui:options:
            allowedHosts:
              - github.com
        visibility:
          title: Repository visibility
          type: string
          enum:
            - public
            - private
          enumNames:
            - 'Public'
            - 'Private'
          default: private

  steps:
    - id: template
      name: Fetch Skeleton + Template
      action: fetch:template
      input:
        url: ./skeleton      
        values:
          name: ${{ parameters.instance_name}}
          instance_name: ${{ parameters.instance_name }}
          database_name: ${{ parameters.database_name }}
          instance_type: ${{ parameters.instance_type }}
          terraformStateBucketName: ${{ parameters.terraformStateBucketName }}
          destination: ${{ (parameters.repoUrl | parseRepoUrl).owner }}/${{ (parameters.repoUrl | parseRepoUrl).repo }}
          owner: ${{ parameters.owner }}
          host: ${{ parameters.repoUrl | parseRepoUrl | pick('host') }}
          terraformStateBucketRegion: ${{ parameters.terraformStateBucketRegion }}
          infracost: ${{ parameters.infracost }}
          vault_address: ${{ parameters.vault_address }}
    
    - name: Check Infracost
      if: ${{ parameters.infracost === false }}
      action: fs:delete
      input:
        files: 
          - ./.github/workflows/infracost.yml

    - id: publish
      name: Publish
      action: publish:github
      input:
        allowedHosts:
          - github.com
        description: RDS Name ${{ parameters.name }}
        repoUrl: ${{ parameters.repoUrl }}
        repoVisibility: ${{ parameters.visibility }}
    
    - id: register
      name: Register
      action: catalog:register
      input:
        repoContentsUrl: ${{ steps.publish.output.repoContentsUrl }}
        catalogInfoPath: /catalog-info.yaml
  output:
    links:
      - title: Repository
        url: ${{ steps.publish.output.remoteUrl }}
      - title: Open in catalog
        icon: catalog
        entityRef: ${{ steps.register.output.entityRef }}
  
  
